:root{
    --while:#fff;
}
*{
    box-sizing: border-box;
    margin:0px;
}
html{
    font-size:62.5%;
}
.body{
    width: 100vw;
}
.app{
    width: 100%;
}
.active{
    color: aqua;
}
.activesong .list-music__item-info{
    background-color:rgba(147, 197, 253,0.6);
    color:rgba(236, 72, 153,1);
}
.activesong .option{
    background-color:rgba(147, 197, 253,0.6);
}
.icon-zing{
    animation: icon linear 3s infinite;
}
/* .color-text{
    background-image: linear-gradient(to right,#e0dd0c, #bb2b32d5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
    /* animation:text linear 10s infinite; */
/* } */
.header{
    border-bottom: 1px solid #ccc;
    background-image:linear-gradient(to top,rgba(59, 130, 246,1),rgba(96, 165, 250,1));
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}
.error{
    display:none;
    padding:0 12px;
    height:30px;
    position:absolute;
    top:10%;
    right:0;
    background-color: #e0dd0c;
    border-radius: 10px;
    font-size: 14px;
    overflow: hidden;
}
.header-title{
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    /* color: #fff; */
    height: 46px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.header-title i{
    zoom: 1.3;
    /* color:aqua; */
    margin-right: 3px;
}
.header-title a{
    /* color: #fff; */
    position: relative;
    top: -4px;
    text-decoration: none;
}
.color-text{
    background-image: linear-gradient(to right,#e0dd0c, #bb2b32d5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
    /* animation:text linear 10s infinite; */
}
.jumpText span{
    transition: color linear  0.3s;
}
.header-info{
    width: 100vw;
}
.header-info-img{
    width: 40vw;
    height: 40vw;
    display:block;
    margin:24px auto;
    border-radius: 50%;
    /* box-shadow:0 0 2px 3px rgba(0,0,0,0.2); */
    animation: boder-radius 3s linear infinite;
    object-fit:cover;
    transition: all 0.3s linear;
    will-change: transform;
}
.header-name_song{
    font-size:1.4rem;
    font-weight: 400;
    text-align: center;
    /* animation: text linear 3s forwards; */
}
.header-seek{
    text-align: center;
    margin:12px 0px 16px;
}
.header-seek input::-webkit-slider-thumb{
    max-height: 1.8px;
    appearance: none;
    -webkit-appearance:none;
    border: none;
}
.header-seek input{
    max-height: 1.8px;
    min-width: 60%;
}
.header-seek span{
    position: relative;
    top: 2px;
    font-size: 1.1rem;
    /* opacity: 0.8; */
    color:rgb(53, 41, 41);
}
.header-controls{
    display:flex;
    justify-content: center;
    margin:12px auto;
    padding: 4px 0px;
    border:1px solid  rgba(219, 234, 254,0.4);
    border-radius: 25px;
    width: 80%;
}
.btn{
    font-size: 1.8rem;
    padding:6px;
    margin: 0px 6px;
}
.btn:active{
    opacity: 0.5;
}
.btn i{
    position: relative;
    font-weight: 500;
    top:3px;
    text-align: center;
}
.btn-red{
    color:rgba(185, 28, 28,1);
    position: relative;
    right: 0px;
    top:-1px;
}
.btn-red i{
    position:relative;
    padding:3px 4px 4px 4px;
    border-radius: 50%;
    border:1px solid  rgba(209, 250, 229,0.3);
}
/* list music */
.main-list-music{
    margin-top:0px;
    position:absolute;
    top: 370px;;
    width: 100%;
    background-color: rgba(243, 244, 246,0.5);
    z-index: -1;
}
.list-music__item{
    display: flex;
    margin: 4px 16px;
    border-radius: 3px;
    max-height: 48px;
    /* overflow: hidden; */
    /* background-color:rgba(238, 242, 255,1); */

}
.list-music__item:last-child{
    padding-bottom: 5px;
}
/* .item-img-active{
   
} */
.item-img{
    width: 40px;
    border: 1px solid rgba(229, 231, 235,1);
    border-radius: 2px;
    object-fit:cover;
}
.list-music__item-info{
    flex:1;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background-color:rgba(238, 242, 255,1);
    z-index: -1;
}
.music-name{
    margin-left: 16px;
    display: block;
    font-weight: 550;
}
.music-singer{
    margin-left: 16px;
    font-size: 1rem;
    color: rgb(88, 82, 82);
    display: block;
    position: relative;
    bottom:-2px;
}
.option{
    width: 40px;
    text-align: center;
    line-height: 48px;
    font-size: 1.2rem;
    background-color:rgba(238, 242, 255,1);
    color:rgb(68, 58, 58);
}
.box-option{
    position:fixed;
        width: 80%;
        background-color:#ddd;
        /* top: 40%; */
        right: 10%;
        left: 10%;
        bottom: 48%;
        z-index: 3;
        border-radius: 10px;
        display:none;
        overflow: hidden;
}
.box-text{
    display:block;
    font-size: 2rem;
    margin: 20px 20px 20px;
    text-align: center;
    line-height: 2.6rem;
}
.box-auther{
    right: 0;
    margin-left: 60%;
    font-size:1.2rem;
}
.box-ligth{
    display: block;
}
.box-close{
    position: relative;
    font-size:2rem;
    display: block;
    bottom:-6px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    cursor: pointer;
    background-color:rgba(59, 130, 246,1);
}
.box-close:active{
    opacity: 0.8;
}
@media (min-width:1023px){
    .header-title{
        font-size:2rem;
    }
    .header-info-img{
        width: 15vw;
        height: 15vw;
    }
    .header-name_song{
        font-size: 1.6rem;
        color:rgb(31, 22, 22);
    }
    .error{
        top:15%;
    }
    .main-list-music{
        top:65%;
    }
    .list-music__item:hover{
        cursor: pointer;
    }
    .list-music__item:hover .item-img,
    .list-music__item:hover .list-music__item-info{
        opacity: 0.8;
    }
    .list-music__item:hover .option{
        opacity:1;
    }
    .list-music__item{
        min-height: 58px;
        margin: 6px 48px;
    }
    .item-img{
        min-width:58px;
        border-radius: 10%;
    }
    .btn{
       cursor: pointer; 
       margin: 0 24px;
       padding: 10px;
    }
    .option{
       line-height: 58px;
    }
    .header-seek input::-webkit-slider-thumb{
        max-height:4px;
        cursor: pointer;
    }
    .header-seek input{
        max-height:4px;
        cursor: pointer;
    }
    .box-option{
        position:fixed;
        width: 600px;
        max-height: 300px;
        background-color:#ddd;
        /* top: 40%; */
        right: 25%;
        left: 25%;
        bottom: 48%;
        z-index: 3;
        border-radius: 10px;
        display:none;
        overflow: hidden;
    }
    .box-text{
        display:block;
        font-size: 2rem;
        margin: 20px 20px 20px;
        text-align: center;
        line-height: 2.6rem;
    }
    .box-auther{
        text-align: left;
        right: 0;
        margin-left: 70%;
        font-size:1.4rem;
    }
    .box-ligth{
        display: block;
    }
    .header-seek span{
        font-size:1.4rem;
    }
    .box-close{
        position: relative;
        font-size:2rem;
        display: block;
        bottom:-32%;
        text-align: center;
        padding: 16px 0;
        color: #fff;
        cursor: pointer;
        background-color:rgb(19, 57, 75);
    }
    .box-close:hover{
        opacity: 0.8;
    }
}
@keyframes icon{
    0%{
        color:rgba(24, 23, 23, 0.267);
    }
    25%{
        color:rgb(19, 19, 18);
    }
    50%{
        color:rgba(17, 17, 16, 0.678);
        
    }
    75%{
        color:rgba(214, 28, 59, 0.795);
    }
    100%{
        color:rgba(236, 22, 218, 0.61);

    }
}
@keyframes boder-radius{
        0%{
            box-shadow:0 0 0px 0px rgba(0,0,0,0.3);
        }
        25%{
            box-shadow:0 0 10px 15px rgba(0,0,0,0.2);
            
        }
        50%{
            box-shadow:0 0 15px 20px rgba(0,0,0,0.15);
        }
        75%{
            box-shadow:0 0 30px 30px rgba(0,0,0,0.15);
        }
        100%{
            box-shadow:0 0 40px 50px rgba(0,0,0,0.1);
        }
}
